[Unit]
Description=TAN's distributed currency daemon
After=network.target

[Service]
User=taurusnetwork
Group=taurusnetwork

Type=forking
PIDFile=/var/lib/taurusnetworkd/taurusnetworkd.pid

ExecStart=/usr/bin/taurusnetworkd -daemon -pid=/var/lib/taurusnetworkd/taurusnetworkd.pid \
          -conf=/etc/taurusnetwork/taurusnetwork.conf -datadir=/var/lib/taurusnetworkd

ExecStop=-/usr/bin/taurusnetwork-cli -conf=/etc/taurusnetwork/taurusnetwork.conf \
         -datadir=/var/lib/taurusnetworkd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
